[include]
	path = ~/.config/git/user.local

[core]
	editor = vim
	quotepath = false

[pull]
	rebase = true

[diff]
	tool = vimdiff-zoom

[difftool]
	prompt = false

[difftool "vimdiff-zoom"]
	cmd = "sh ~/.config/git/vimdiff-zoom.sh \"$LOCAL\" \"$REMOTE\""
